<div class="zf-templateWidth">
    <form (ngSubmit)="submitForm()" name="form" method="POST" accept-charset="UTF-8" enctype="multipart/form-data"
        id="form">
        
           
        <div class="zf-templateWrapper"><!---------template Header Starts Here---------->
            <ul class="zf-tempHeadBdr">
                <li class="zf-tempHeadContBdr">
                    <h2 class="zf-frmTitle"><em> Details Condidat</em></h2>
                    <p class="zf-frmDesc">Entrer tous les details d'condidat.</p>
                    <div class="zf-clearBoth"></div>
                </li>
            </ul><!---------template Header Ends Here---------->
            <!---------template Container Starts Here---------->
            <div class="zf-subContWrap zf-leftAlign">
                <ul>
                    <h1>Informations personnel</h1> 
                    <!---------CIN Line Starts Here---------->
                    <li class="zf-tempFrmWrapper zf-large"><label class="zf-labelName">
                            CIN
                            <em class="zf-important">*</em>
                        </label>
                        
                        <div class="zf-tempContDiv">
                            
                            <span> <input type="text" name="CIN" checktype="c1" value="" maxlength="255"
                                    fieldType=1 placeholder="" />    </span>
                            
                        </div>
                        <div class="zf-clearBoth"></div>
                    </li>
                    <!---------CIN Line Starts Here---------->
                    <li class="zf-tempFrmWrapper zf-large"><label class="zf-labelName">
                            Nom
                            <em class="zf-important">*</em>
                        </label>
                        <div class="zf-tempContDiv">
                            <span> <input type="text" name="nom" checktype="c1" value="" maxlength="255"
                                    fieldType=1 placeholder="" /></span>
                            
                        </div>
                        <div class="zf-clearBoth"></div>
                    </li>
                    <li class="zf-tempFrmWrapper zf-large"><label class="zf-labelName">
                            Prenom
                            <em class="zf-important">*</em>
                        </label>
                        <div class="zf-tempContDiv">
                            <span> <input type="text" name="prenom" checktype="c1" value="" maxlength="255"
                                    fieldType=1 placeholder="" /></span>
                            <p id="SingleLine_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
                        </div>
                        <div class="zf-clearBoth"></div>
                    </li><!---------Single Line Ends Here---------->
                    

                    <!---------Email Starts Here---------->
                    <li class="zf-tempFrmWrapper zf-large"><label class="zf-labelName">
                            Email
                        </label>
                        <div class="zf-tempContDiv">
                            <span> <input fieldType=9 type="text" maxlength="255" name="Email" checktype="c5" value=""
                                    placeholder="" /></span>
                            
                        </div>
                        <div class="zf-clearBoth"></div>
                    </li><!---------Email Ends Here---------->
                    <!---------Phone Starts Here---------->
                    <li class="zf-tempFrmWrapper zf-large"><label class="zf-labelName">
                            Tel
                        </label>
                        <div class="zf-tempContDiv zf-phonefld">
                            <div class="zf-phwrapper zf-phNumber">
                                <span> <input type="text" compname="PhoneNumber" name="tel"
                                        maxlength="20" checktype="c7" value="" phoneFormat="1"
                                        isCountryCodeEnabled=false fieldType="11"
                                        id="international_PhoneNumber_countrycode" valType="number" phoneFormatType="1"
                                        placeholder="" />
                                    <label>Number</label> </span>
                                <div class="zf-clearBoth"></div>
                            </div>
                            
                        </div>
                        <div class="zf-clearBoth"></div>
                    </li><!---------Phone Ends Here---------->
                    <!--address-->
                    <!---------Address Starts Here---------->
                    <li class="zf-tempFrmWrapper zf-address zf-addrlarge "><label class="zf-labelName">
                            address
                            <em class="zf-important">*</em>
                        </label>
                        <div class="zf-tempContDiv zf-address">
                            <div class="zf-addrCont">
                                <span class="zf-addOne"> <input type="text" maxlength="255" name="address"
                                        checktype="c1" placeholder="" />
                                    <label> Address</label>
                                </span>


                                <div class="zf-clearBoth"></div>
                                
                            </div>
                        </div>
                        <div class="zf-eclearBoth"></div>
                    </li><!---------Address Ends Here---------->


                    <!---------Date Starts Here---------->
                    <li class="zf-tempFrmWrapper zf-date"><label class="zf-labelName">
                            Date Naissance
                            <em class="zf-important">*</em>
                        </label>
                        <div class="zf-tempContDiv">
                            <span> <input type="text" name="Date" checktype="c4" value="" maxlength="25"
                                    placeholder="" /><label>dd-MMM-yyyy</label> </span>
                            <div class="zf-clearBoth"></div>
                            
                        </div>
                        <div class="zf-clearBoth"></div>
                    </li><!---------Date Ends Here---------->
                    <!---------Address Starts Here---------->
                    <li class="zf-tempFrmWrapper zf-address zf-addrlarge "><label class="zf-labelName">
                            address
                            <em class="zf-important">*</em>
                        </label>
                        <div class="zf-tempContDiv zf-address">
                            <div class="zf-addrCont">
                                <span class="zf-addOne"> <input type="text" maxlength="255" name="address"
                                        checktype="c1" placeholder="" />
                                    <label> Address</label>
                                </span>


                                <div class="zf-clearBoth"></div>
                                
                            </div>
                        </div>
                        <div class="zf-eclearBoth"></div>
                    </li><!---------Address Ends Here---------->
                    <!---------Années d'étude Starts Here---------->
                    <li class="zf-tempFrmWrapper zf-address zf-addrlarge "><label class="zf-labelName">
                            Années d'étude
                            <em class="zf-important">*</em>
                        </label>
                        <div class="zf-tempContDiv zf-address">
                            <div class="zf-addrCont">
                                <span class="zf-addOne"> <input type="text" maxlength="255" name="Années d'étude"
                                        checktype="c1" placeholder="" />
                                    <label> Années d'étude</label>
                                </span>


                                <div class="zf-clearBoth"></div>
                                
                            </div>
                        </div>
                        <div class="zf-eclearBoth"></div>
                    </li><!---------Années d'étude Ends Here---------->
                    <!---------Diplome obtenus Starts Here---------->
                    <li class="zf-tempFrmWrapper zf-address zf-addrlarge "><label class="zf-labelName">
                            Diplome
                            <em class="zf-important">*</em>
                        </label>
                        <div class="zf-tempContDiv zf-address">
                            <div class="zf-addrCont">
                                <span class="zf-addOne"> <input type="text" maxlength="255" name="Diplome"
                                        checktype="c1" placeholder="" />
                                    <label> Diplome obtenus</label>
                                </span>


                                <div class="zf-clearBoth"></div>
                               
                            </div>
                        </div>
                        <div class="zf-eclearBoth"></div>
                    </li><!---------Diplome obtenus Ends Here---------->
                    <!---------Spécialité Starts Here---------->
                    <li class="zf-tempFrmWrapper zf-address zf-addrlarge "><label class="zf-labelName">
                            Spécialité
                            <em class="zf-important">*</em>
                        </label>
                        <div class="zf-tempContDiv zf-address">
                            <div class="zf-addrCont">
                                <span class="zf-addOne"> <input type="text" maxlength="255" name="Spécialité"
                                        checktype="c1" placeholder="" />
                                    <label> Spécialité</label>
                                </span>


                                <div class="zf-clearBoth"></div>
                                
                            </div>
                        </div>
                        <div class="zf-eclearBoth"></div>
                    </li><!---------Spécialité Ends Here---------->
                    <!---------Langage parlées Starts Here---------->
                    <h1>Compétences</h1><br>
                    <li class="zf-tempFrmWrapper zf-address zf-addrlarge "><label class="zf-labelName">
                            Langage parlées
                            <em class="zf-important">*</em>
                        </label>
                        <div class="zf-tempContDiv zf-address">
                            <div class="zf-addrCont">
                                <span class="zf-addOne"> <input type="text" maxlength="255" name="Langage parlées"
                                        checktype="c1" placeholder="" />
                                    <label> Langage parlées</label>
                                </span>


                                <div class="zf-clearBoth"></div>
                                
                            </div>
                        </div>
                        <div class="zf-eclearBoth"></div>
                    </li><!---------Langage parlées Ends Here---------->
                    <!---------Compétences informatiques  Starts Here---------->
                    <li class="zf-tempFrmWrapper zf-address zf-addrlarge "><label class="zf-labelName">
                            Compétences informatiques
                            <em class="zf-important">*</em>
                        </label>
                        <div class="zf-tempContDiv zf-address">
                            <div class="zf-addrCont">
                                <span class="zf-addOne"> <input type="text" maxlength="255" name="Compétences informatiques"
                                        checktype="c1" placeholder="" />
                                    <label> Compétences informatiques</label>
                                </span>


                                <div class="zf-clearBoth"></div>
                                
                            </div>
                        </div>
                        <div class="zf-eclearBoth"></div>
                    </li><!---------Compétences informatiques Ends Here---------->
                    <!---------Autre compétences  Starts Here---------->
                    <li class="zf-tempFrmWrapper zf-address zf-addrlarge "><label class="zf-labelName">
                            Autre compétences
                            <em class="zf-important">*</em>
                        </label>
                        <div class="zf-tempContDiv zf-address">
                            <div class="zf-addrCont">
                                <span class="zf-addOne"> <input type="text" maxlength="255" name=" Autre compétences"
                                        checktype="c1" placeholder="" />
                                    <label> Autre compétences</label>
                                </span>


                                <div class="zf-clearBoth"></div>
                                
                            </div>
                        </div>
                        <div class="zf-eclearBoth"></div>
                    </li><!---------Autre compétences Ends Here---------->
                    <h1>Expérience professionnels</h1><br>
                    <!---------Entreprises  Starts Here---------->
                    <li class="zf-tempFrmWrapper zf-address zf-addrlarge "><label class="zf-labelName">
                        Entreprises
                        <em class="zf-important">*</em>
                    </label>
                    <div class="zf-tempContDiv zf-address">
                        <div class="zf-addrCont">
                            <span class="zf-addOne"> <input type="text" maxlength="255" name="Entreprises"
                                    checktype="c1" placeholder="" />
                                <label> Entreprises</label>
                            </span>


                            <div class="zf-clearBoth"></div>
                            
                        </div>
                    </div>
                    <div class="zf-eclearBoth"></div>
                </li><!---------Entreprises Ends Here---------->
                <!---------Postes occupés Starts Here---------->
                <li class="zf-tempFrmWrapper zf-address zf-addrlarge "><label class="zf-labelName">
                    Postes occupés
                    <em class="zf-important">*</em>
                </label>
                <div class="zf-tempContDiv zf-address">
                    <div class="zf-addrCont">
                        <span class="zf-addOne"> <input type="text" maxlength="255" name="Postes occupés"
                                checktype="c1" placeholder="" />
                            <label> Postes occupés</label>
                        </span>


                        <div class="zf-clearBoth"></div>
                        
                    </div>
                </div>
                <div class="zf-eclearBoth"></div>
            </li><!---------Postes occupés Ends Here---------->
             <!---------Dates Starts Here---------->
             <li class="zf-tempFrmWrapper zf-address zf-addrlarge "><label class="zf-labelName">
                Dates
                <em class="zf-important">*</em>
            </label>
            <div class="zf-tempContDiv zf-address">
                <div class="zf-addrCont">
                    <span class="zf-addOne"> <input type="text" maxlength="255" name="Dates"
                            checktype="c1" placeholder="" />
                        <label> Dates</label>
                    </span>


                    <div class="zf-clearBoth"></div>
                    
                </div>
            </div>
            <div class="zf-eclearBoth"></div>
        </li><!---------dates Ends Here---------->
                    
                    <!---------Multiple Line Starts Here---------->
                    <li class="zf-tempFrmWrapper zf-large"><label class="zf-labelName">
                            Additional Information
                        </label>
                        <div class="zf-tempContDiv">
                            <span> <textarea name="MultiLine" checktype="c1" maxlength="65535"
                                    placeholder=""></textarea> </span>
                            
                        </div>
                        <div class="zf-clearBoth"></div>
                    </li><!---------Multiple Line Ends Here---------->
                </ul>
            </div><!---------template Container Starts Here---------->
            <ul>
                <li class="zf-fmFooter"><button class="zf-submitColor"(click)="submitForm()">Submit</button></li>
            </ul>
        </div>

    </form>
</div>